.clients {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding-bottom: 63px;
}

.clients__title {
  font-size: 22px;
  font-weight: 500;
}

.clients__marquee-wrap {
  max-width: 100%;
  overflow: hidden;
  position: relative;

  &:after {
    content: "";
    height: calc(100% + 30px);
    width: 100px;
    background: #17171b;
    filter: blur(5px);
    position: absolute;
    left: -50px;
    top: -15px;
    z-index: 2;
  }
  &:before {
    content: "";
    height: calc(100% + 30px);
    width: 100px;
    background: #17171b;
    filter: blur(5px);
    position: absolute;
    right: -50px;
    top: -15px;
    z-index: 2;
  }
}

.marquee {
  white-space: nowrap;
  overflow: hidden;

  display: inline-flex;
  align-items: center;
  -webkit-animation: marquee 50s linear infinite;
  animation: marquee 50s linear infinite;
  gap: 50px;
}

@-webkit-keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 0.5;
  }

  to {
    transform: translate3d(-50%, 0, 0);
    opacity: 0.5;
  }
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 0.5;
  }

  to {
    transform: translate3d(-50%, 0, 0);
    opacity: 0.5;
  }
}
