@import url(../fonts/TTNorms-Bold/style.css);
@import url(../fonts/TTNorms-Light/style.css);
@import url(../fonts/TTNorms-Medium/style.css);
@import url(../fonts/TTNorms-Regular/style.css);
@import url(../fonts/TTDark-Wide/stylesheet.css);

.TT-Druk-Wide-500 {
  font-family: "Druk Wide";
  font-weight: 500;
}
.TT-Druk-Wide-700 {
  font-family: "Druk Wide";
  font-weight: 700;
}

.TT-Norms-300 {
  font-family: "TT Norms";
  font-weight: 300;
}
.TT-Norms-400 {
  font-family: "TT Norms";
  font-weight: 400;
}
.TT-Norms-500 {
  font-family: "TT Norms";
  font-weight: 500;
}
.TT-Norms-700 {
  font-family: "TT Norms";
  font-weight: 700;
}
