.footer.flex {
  flex-direction: column;
  align-items: center;
  margin-bottom: 47px;
  margin-top: 167px;
}

.footer__title {
  font-size: 64px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 23px;
  text-align: center;
}

@media (max-width: 750px) {
  .footer__title {
    font-size: 45px;
  }
}
@media (max-width: 470px) {
  .footer__title {
    font-size: 40px;
  }
  .footer__text {
    font-size: 16px;
  }
}

.footer__text {
  max-width: 539px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 70px;
}

.footer__btns.flex {
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.footer__privacy.flex {
  flex-direction: column;
  position: relative;
  z-index: 10;
}

.footer__privacy:hover {
  p {
    color: #fff;
    transition: all 0.3s;
  }
}

.footer__privacy-title {
  color: rgba(255, 255, 255, 0.54);
  font-size: 15px;
  font-weight: 500;
  line-height: 161.023%;
  transition: all 0.3s;
}

.footer__privacy-text {
  color: rgba(255, 255, 255, 0.54);
  font-size: 15px;
  font-weight: 500;
  transition: all 0.3s;
  line-height: 161.023%;
}

@media (max-width: 800px) {
  .footer__btns.flex {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 750px) {
  .footer__title {
    font-size: 45px;
  }
}
@media (max-width: 470px) {
  .footer__title {
    font-size: 40px;
  }
  .footer__text {
    font-size: 16px;
  }
}
