.footer.flex {
  flex-direction: column;
  align-items: center;
  margin-bottom: 47px;
  margin-top: 167px;
}

.footer__title {
  font-size: 64px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 23px;
  text-align: center;
}

@media (max-width: 750px) {
  .footer__title {
    font-size: 45px;
  }
}
@media (max-width: 470px) {
  .footer__title {
    font-size: 40px;
  }
  .footer__text {
    font-size: 16px;
  }
}

.footer__text {
  max-width: 539px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 70px;
}

.btn-request {
  cursor: pointer;
  border-radius: 15px;
  background: #cd151d;
  padding: 25px 51px;
  gap: 11px;
  margin-bottom: 123px;
  align-items: center;
  animation: animate-pulse 3s linear infinite;
}

@keyframes animate-pulse {
  0% {
    box-shadow: 0 0 0 0 #cd151d, 0 0 0 0 #cd151d;
  }
  40% {
    box-shadow: 0 0 0 50px rgba(255, 109, 74, 0), 0 0 0 0 #cd151d;
  }
  80% {
    box-shadow: 0 0 0 50px rgba(255, 109, 74, 0),
      0 0 0 30px rgba(255, 109, 74, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 109, 74, 0), 0 0 0 30px rgba(255, 109, 74, 0);
  }
}

.btn-request__title {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.footer__privacy.flex {
  flex-direction: column;
}

.footer__privacy-title {
  color: rgba(255, 255, 255, 0.54);
  font-size: 15px;
  font-weight: 500;
  line-height: 161.023%;
}

.footer__privacy-text {
  color: rgba(255, 255, 255, 0.54);
  font-size: 15px;
  font-weight: 500;
  line-height: 161.023%;
}
