header {
  border-bottom: 1px solid #6d6d6d;
  padding-bottom: 5px;
}

.header__wrapper {
  padding-top: 47px;
  align-items: center;
  justify-content: space-between;
}

.header__logo-title {
  position: relative;
  z-index: 2;
  left: 42px;

  font-size: 29px;
  line-height: 39.859px;
  letter-spacing: -1.16px;
}

.header__logo-element {
  position: absolute;
  top: -54px;
  width: 80px;
  height: 218px;
  background: #cd151d;
  z-index: 1;
}

.menu {
  ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 94px;
    li {
      font-family: "TT Norms";
      font-weight: 300;
      font-size: 16px;
      list-style-type: none;
      color: #6f767e;
    }
    a {
      transition: all 0.3s;

      &:hover {
        font-weight: 700;
        transition: all 0.3s;
      }
    }
  }
}

.social-media {
  height: 100%;
  align-items: center;
  gap: 13px;
}
