.header {
  border-bottom: 1px solid #6d6d6d;
  padding-bottom: 5px;
}

.header__wrapper {
  padding-top: 47px;
  align-items: center;
  justify-content: space-between;
}

.header__logo-title {
  display: block;
  position: relative;
  z-index: 2;
  left: 42px;

  font-weight: 500;
  font-size: 29px;
  line-height: 39.859px;
  letter-spacing: -1.16px;
}

.header__logo-element {
  display: block;
  position: absolute;
  top: -54px;
  width: 80px;
  height: 218px;
  background: #cd151d;
  z-index: 1;
}
