.header__wrapper {
  padding-top: 47px;
  align-items: center;
  justify-content: space-between;
}

.header__logo-title {
  position: relative;
  z-index: 2;
  left: 42px;
  font-family: "Druk Wide";
  font-size: 29px;
  font-weight: 500;
  line-height: 39.859px;
  letter-spacing: -1.16px;
}

.header__logo-element {
  position: absolute;
  top: -54px;
  width: 80px;
  height: 218px;
  background: #cd151d;
  z-index: 1;
}

.menu {
  ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 40px;
    li {
      list-style-type: none;
      color: #6f767e;
      a {
      }
    }
  }
}

.social-media {
  a {
    width: 18px;
    height: 18px;
  }
}
