.menu {
  ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 94px;
    li {
      font-weight: 300;
      font-size: 16px;
      list-style-type: none;
      color: #6f767e;
      min-width: 70px;

      &:nth-child(4) {
        min-width: 120px;
      }
    }
    a {
      transition: all 0.3s;

      &:hover {
        font-weight: 700;
        transition: all 0.3s;
      }
    }
  }
}

.menu__btn-drop-down {
  display: none;
  background: inherit;
  cursor: pointer;
}

.menu__btn-drop-down-close {
  display: none;
  position: relative;
  top: 5px;
}

@media (max-width: 1150px) {
  .menu {
    ul {
      gap: 80px;
    }
  }
}

@media (max-width: 1050px) {
  .menu {
    ul {
      gap: 60px;
    }
  }
}

@media (max-width: 950px) {
  .menu {
    ul {
      gap: 30px;
    }
  }
}

@media (max-width: 870px) {
  .menu__btn-drop-down {
    display: flex;
    position: absolute;
    right: 16px;
    top: 28px;
    z-index: 6;
  }
  .menu {
    ul {
      display: flex;
      width: 40%;
      background-color: #17171b;
      flex-direction: column;
      gap: 39px 0;
      padding: 155px 44px 98px 44px;
      position: absolute;
      right: 0;
      top: 0;
      transform: translateX(100%);
      transition: all 0.3s ease;
      z-index: 5;

      .social-media {
        display: flex;
        margin-top: 143px;
        align-self: center;
        gap: 20px;

        a {
          img {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }
  .menu {
    ul.menu__btn-drop-down_open {
      transform: translateX(0%);
      transition: all 0.3s ease;
    }
  }
}

@media (max-width: 600px) {
  .menu {
    ul {
      width: 100%;
    }
  }
}
