.projects {
  display: flex;
  flex-direction: column;
  position: relative;
}
.projects.container {
  overflow: hidden;
}

.projects__title {
  display: flex;
  align-self: center;
  padding-bottom: 40px;
  font-size: 64px;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 750px) {
  .projects__title {
    font-size: 45px;
  }
}

@media (max-width: 470px) {
  .projects__title {
    font-size: 30px;
  }
}

.menu_projects {
  padding-bottom: 21px;
  border-bottom: 1px solid rgba(217, 217, 217, 0.33);
}

.menu_projects {
  ul {
    li {
      min-width: 161px;
      font-size: 18px;
      color: rgba(255, 255, 255, 0.69);
      &:nth-child(1) {
        min-width: 118px;
      }
    }
    a {
      transition: all 0.3s;
      padding-bottom: 21px;
    }
  }
}

@media (max-width: 870px) {
  .menu_projects {
    ul {
      gap: 50px;
    }
  }
}

@media (max-width: 730px) {
  .menu_projects {
    overflow-x: auto;
    width: 100%;
    justify-content: flex-start;
    border-radius: 0;
  }
  .menu_projects::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 470px) {
  .menu_projects {
    ul {
      gap: 21px;

      li {
        font-size: 15px;
      }
    }
  }
}

@media (max-width: 680px) {
  .country__menu {
    overflow-x: auto;
    width: 100%;
    justify-content: flex-start;
    border-radius: 0;
  }
  .country__menu::-webkit-scrollbar {
    display: none;
  }
}

.menu_projects {
  a.active {
    font-weight: 700;
    color: #fff;
    transition: all 0.3s;
    box-shadow: 0 -2px 0 #fff inset;
  }
}

.projects__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding-top: 45px;
}

.project.flex {
  flex-direction: column;
  max-width: 300px;
}

.project__wrapper {
  position: relative;
  min-height: 536px;
  padding-bottom: 18px;
}

@media (max-width: 1330px) {
  .project.flex {
    max-width: calc(33% - 16px);
  }
  .projects__list {
    justify-content: flex-start;
  }
}

@media (max-width: 1236px) {
  .project.flex {
    max-width: calc(33% - 17px);
  }
}

@media (max-width: 936px) {
  .project.flex {
    max-width: calc(33% - 18px);
  }
}

@media (max-width: 900px) {
  .project.flex {
    max-width: calc(50% - 15px);
  }
}

@media (max-width: 580px) {
  .project__wrapper {
    min-height: 480px;
  }
}

@media (max-width: 530px) {
  .project__wrapper {
    min-height: 536px;
  }
  .project.flex {
    min-width: 100%;
  }
}

@media (max-width: 440px) {
  .projects {
    padding: 0 17px;
  }
}

.project__img {
  width: 100%;
  height: 100%;
}

.project__play {
  position: absolute;
  width: 34px;
  height: 34px;
  top: calc(50% - 17px);
  left: calc(50% - 17px);
  z-index: 10;
  transition: all 0.3s;
}

.project__wrapper:hover {
  .project__play {
    width: 68px;
    height: 68px;
    top: calc(50% - 34px);
    left: calc(50% - 34px);
    transition: all 0.3s;
  }
}

.project__title {
  font-size: 25px;
  font-weight: 500;
  line-height: 140.023%;
  padding-bottom: 11px;
}

.project__property {
  justify-content: space-between;
  padding-bottom: 15px;
}

.project__property-name {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.55);
}

.project__property-value {
  font-size: 15px;
  font-weight: 500;
}
