.promo__background {
  position: absolute;
}

.shape-mid {
  position: relative;
  width: 337px;
  height: auto;
  top: 134px;
  left: 114px;
}

.shape-small {
  position: relative;
  width: 222px;
  height: auto;
  left: 106px;
  top: -83px;
}

.shape-big {
  position: relative;
  width: 993px;
  height: auto;
  bottom: 220px;
  left: 251px;
}

.promo__btn-video {
  position: absolute;
  top: 282px;

  right: 94px;
}

.promo__btn-video-wrapper {
  position: relative;
  display: flex;
  width: 241px;
  align-items: center;
  justify-content: center;
}

.promo__btn-video-cover {
  max-width: 241px;
  height: 100%;
}

.promo__btn-video-icon {
  position: absolute;
}

.promo__content {
  padding-bottom: 500px;
  padding-top: 500px;
}
