.promo {
  position: relative;
}

.promo__background {
  position: absolute;
}

.shape-mid {
  position: relative;
  width: 337px;
  height: auto;
  top: 134px;
  left: 114px;
}

.shape-small {
  position: relative;
  width: 222px;
  height: auto;
  left: 106px;
  top: -83px;
}

.shape-big {
  position: relative;
  width: 993px;
  height: auto;
  bottom: 220px;
  left: 251px;
}

.promo__content {
  position: relative;
  padding-bottom: 500px;
  padding-top: 486px;
  z-index: 2;
}

.promo__title {
  text-align: center;
  font-size: 151.084px;
  font-weight: 700;
  line-height: 138.968px;
  margin-bottom: 28px;
}

.promo__description {
  text-align: center;
  font-size: 25px;
  font-weight: 300;
  line-height: 26.444px;
  letter-spacing: 1px;
}
