.social-media {
  height: 100%;
  align-items: center;
  gap: 13px;
}

.social-media path {
  transition: all 0.3s;
}

@media (max-width: 870px) {
  .social-media.flex {
    display: none;
  }
  .social-media.social-media_drop-down {
    display: flex;
    position: fixed;
    width: 141px;
    z-index: 100;
    left: calc(50% + 133px);
    bottom: -226px;
    gap: 19px;
    svg {
      width: 24px;
      height: 24px;
    }
  }
}

@media (max-width: 600px) {
  .social-media.social-media_drop-down {
    left: calc(50% - 97px);
    bottom: -226px;
  }
}

.social-media__vk:hover {
  path {
    fill: rgb(56, 92, 254);
    transition: all 0.3s;
  }
}

.social-media__twitter:hover {
  path {
    fill: rgb(83, 155, 214);
    transition: all 0.3s;
  }
}

.social-media__youtube:hover {
  path {
    fill: rgb(232, 0, 7);
    transition: all 0.3s;
  }
}
.social-media__instagram:hover {
  path {
    fill: rgb(237, 0, 213);
    transition: all 0.3s;
  }
}
.social-media__telegram:hover {
  path {
    fill: rgb(59, 143, 206);
    transition: all 0.3s;
  }
}
