* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  color: #fff;
}

body {
  z-index: 0;
  background: #17171b;
  font-family: "TT Norms";
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1330px;
  overflow: hidden;
}

.flex {
  display: flex;
  flex-direction: row;
  position: static;
}

a {
  text-decoration: none;
}
