<section class="background">
  <div class="background__glow-bottom"></div>
  <div class="background__shape-opacity">
    <img
      class="background__shape-opacity-img"
      src="../images/background/shape-mid-opacity.png"
      alt=""
    />
  </div>
  <div class="background__shape-right">
    <img
      class="background__shape-right-img"
      src="../images/promo-img/shape-mid.png"
      alt=""
    />
  </div>
  <div class="background__shape-left">
    <img
      class="background__shape-left-img"
      src="../images/promo-img/shape-small.png"
      alt=""
    />
  </div>
</section>
