<section class="clients container">
  <div class="clients__title">Клиенты</div>
  <div class="clients__marquee-wrap">
    <div class="marquee">
      <img src="../images/clients/tinkoff-icon.svg" alt="" />
      <img src="../images/clients/bork-icon.svg" alt="" />
      <img src="../images/clients/ozon-icon.svg" alt="" />
      <img src="../images/clients/reebok-icon.svg" alt="" />
      <img src="../images/clients/gazprom-icon.svg" alt="" />
      <img src="../images/clients/bauer-icon.svg" alt="" />
      <img src="../images/clients/tinkoff-icon.svg" alt="" />
      <img src="../images/clients/bork-icon.svg" alt="" />
      <img src="../images/clients/ozon-icon.svg" alt="" />
      <img src="../images/clients/reebok-icon.svg" alt="" />
      <img src="../images/clients/gazprom-icon.svg" alt="" />
      <img src="../images/clients/bauer-icon.svg" alt="" />

      <img src="../images/clients/tinkoff-icon.svg" alt="" />
      <img src="../images/clients/bork-icon.svg" alt="" />
      <img src="../images/clients/ozon-icon.svg" alt="" />
      <img src="../images/clients/reebok-icon.svg" alt="" />
      <img src="../images/clients/gazprom-icon.svg" alt="" />
      <img src="../images/clients/bauer-icon.svg" alt="" />

      <img src="../images/clients/tinkoff-icon.svg" alt="" />
      <img src="../images/clients/bork-icon.svg" alt="" />
      <img src="../images/clients/ozon-icon.svg" alt="" />
      <img src="../images/clients/reebok-icon.svg" alt="" />
      <img src="../images/clients/gazprom-icon.svg" alt="" />
      <img src="../images/clients/bauer-icon.svg" alt="" />

      <img src="../images/clients/tinkoff-icon.svg" alt="" />
      <img src="../images/clients/bork-icon.svg" alt="" />
      <img src="../images/clients/ozon-icon.svg" alt="" />
      <img src="../images/clients/reebok-icon.svg" alt="" />
      <img src="../images/clients/gazprom-icon.svg" alt="" />
      <img src="../images/clients/bauer-icon.svg" alt="" />

      <img src="../images/clients/tinkoff-icon.svg" alt="" />
      <img src="../images/clients/bork-icon.svg" alt="" />
      <img src="../images/clients/ozon-icon.svg" alt="" />
      <img src="../images/clients/reebok-icon.svg" alt="" />
      <img src="../images/clients/gazprom-icon.svg" alt="" />
      <img src="../images/clients/bauer-icon.svg" alt="" />

      <img src="../images/clients/tinkoff-icon.svg" alt="" />
      <img src="../images/clients/bork-icon.svg" alt="" />
      <img src="../images/clients/ozon-icon.svg" alt="" />
      <img src="../images/clients/reebok-icon.svg" alt="" />
      <img src="../images/clients/gazprom-icon.svg" alt="" />
      <img src="../images/clients/bauer-icon.svg" alt="" />

      <img src="../images/clients/tinkoff-icon.svg" alt="" />
      <img src="../images/clients/bork-icon.svg" alt="" />
      <img src="../images/clients/ozon-icon.svg" alt="" />
      <img src="../images/clients/reebok-icon.svg" alt="" />
      <img src="../images/clients/gazprom-icon.svg" alt="" />
      <img src="../images/clients/bauer-icon.svg" alt="" />

      <img src="../images/clients/tinkoff-icon.svg" alt="" />
      <img src="../images/clients/bork-icon.svg" alt="" />
      <img src="../images/clients/ozon-icon.svg" alt="" />
      <img src="../images/clients/reebok-icon.svg" alt="" />
      <img src="../images/clients/gazprom-icon.svg" alt="" />
      <img src="../images/clients/bauer-icon.svg" alt="" />
    </div>
  </div>
</section>
