    <footer class="footer flex container">
        <h2 class="footer__title font-title">начать проект</h2>
        <p class="footer__text">Поставьте задачу и мы предложим для Вас наилучшее ценовое и концептуальное решение</p>
       <div class="footer__btns flex">

           <button class="btn-request flex">
               <h3 class="btn-request__title font-title">рассчитать стоимость</h3>
               <svg class="btn-request__icon" width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.86644 14.9785L14.1797 6.66526" stroke="white" stroke-width="2.60241" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M5.86644 6.66526H14.1797V14.9785" stroke="white" stroke-width="2.60241" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
           </button>

           <button class="btn-request btn-request_animation flex">
            <h3 class="btn-request__title font-title">оставить заявку</h3>

            <svg class="btn-request__icon" width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.86644 14.9785L14.1797 6.66526" stroke="white" stroke-width="2.60241" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M5.86644 6.66526H14.1797V14.9785" stroke="white" stroke-width="2.60241" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                
        </button>
       </div>
        <a class="footer__privacy flex" 
             href="#" 
             data-fancybox 
             data-src="#privacy-policy">
          <p class="footer__privacy-title ">© creative video & digital studio </p>
          <p class="footer__privacy-text">Политика конфиденциальности</p>
        </a>
    </footer>


<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.28/vue.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.1/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.1/ScrollTrigger.min.js"></script>
<script src ='min.js/main.min.js'></script>
</body>
</html>
