<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"
      />
    <link rel="stylesheet" href="css/style.min.css" />
  </head>
  <body>

  <div class="preloader">
    <div class="preloader__status">
        <div status class="preloader__status-text">I'm {{loaded}} % done!</div>
        <div class="preloader__status-loader">
          <div loader :style="loadStyle" class="preloader__status-bar"></div>
        </div>
    </div>
  </div>

 
