<header class="header">
  <div class="header__wrapper container flex">
    <a class="header__logo" href="#">
      <span class="header__logo-title font-title">CLOUT</span>
      <span class="header__logo-element"></span>
    </a>
    <nav class="menu flex">
      <ul id="menu">
        <li><a href="#">Главная</a></li>
        <li><a href="#">Шоурил</a></li>
        <li><a href="#">Проекты</a></li>
        <li><a href="#">Начать 1проект</a></li>
      </ul>
    </nav>
    <div class="social-media flex">
      <a href="#"><img src="images/social-media-imgs/vk-img.svg" alt="" /></a>
      <a href="#"
        ><img src="images/social-media-imgs/twitter-img.svg" alt=""
      /></a>
      <a href="#"
        ><img src="images/social-media-imgs/youtube-img.svg" alt=""
      /></a>
      <a href="#"
        ><img src="images/social-media-imgs/instagram-img.svg" alt=""
      /></a>
      <a href="#"
        ><img src="images/social-media-imgs/telegram-img.svg" alt=""
      /></a>
    </div>
    <button class="menu__btn-drop-down">
      <img
        id="drop-down-open-id"
        src="../images/header-img/menu-drop-down-img.svg"
        alt=""
      />
      <img
        class="menu__btn-drop-down-close"
        id="drop-down-close-id"
        src="../images/header-img/drop-down-close-img.svg"
        alt=""
      />
    </button>
  </div>
  <div class="devider"></div>
</header>
