<div class="privacy-policy" id="privacy-policy" style="display: none">
  <h1>Privacy policy &amp; Terms of use</h1>
  <p>
    Настоящая Политика конфиденциальности персональных данных (далее — Политика
    конфиденциальности) действует в отношении всей информации, которую компания
    Atom, расположенная на доменном имени
    <a href="https://atom-team.ru/">https://atom-team.ru/</a>, может получить о
    Пользователе во время использования им сайта компании, предоставляющего
    услуги по продаже товаров и оказанию услуг.
  </p>
  <h4>1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ</h4>
  <p>1.1. В Политике конфиденциальности используются следующие термины:</p>
  <p>
    1.1.1. Администрация сайта компании Atom (далее Администрация сайта)
    уполномоченные сотрудники на управление сайтом, действующие от имени ИП.,
    которые организуют и (или) осуществляют обработку персональных данных, а
    также определяют цели обработки персональных данных, состав персональных
    данных, подлежащих обработке, действия (операции), совершаемые с
    персональными данными.
  </p>
  <p>
    1.1.2. Персональные данные любая информация, относящаяся прямо или косвенно
    к определенному или определяемому физическому лицу (субъекту персональных
    данных).
  </p>
  <p>
    1.1.3. Обработка персональных данных любое действие (операция) или
    совокупность действий (операций), совершаемых с использованием средств
    автоматизации или без использования таких средств с персональными данными,
    включая сбор, запись, систематизацию, накопление, хранение, уточнение
    (обновление, изменение), извлечение, использование, передачу
    (распространение, предоставление, доступ), обезличивание, блокирование,
    удаление, уничтожение персональных данных.
  </p>
  <p>
    1.1.4. Конфиденциальность персональных данных — обязательное для соблюдения
    Оператором или иным получившим доступ к персональным данным лицом требование
    не допускать их распространения без согласия субъекта персональных данных
    или наличия иного законного основания.
  </p>
  <p>
    1.1.5. Пользователь сайта компании Atom (далее Пользователь) лицо, имеющее
    доступ к сайту посредством сети Интернет и использующее сайт компании Atom.
  </p>
  <p>
    1.1.6. Cookies небольшой фрагмент данных, отправленный веб-сервером и
    хранимый на компьютере пользователя, веб-клиент или веб-браузер которого
    каждый раз пересылает веб-серверу в НТТР-запросе при попытке открыть
    страницу соответствующего сайта.
  </p>
  <p>
    1.1.7. IP-адрес уникальный сетевой адрес узла в компьютерной сети,
    построенной по протоколу IP.
  </p>
  <h4>2. ОБЩИЕ ПОЛОЖЕНИЯ</h4>
  <p>
    2.1. Использование Пользователем сайта компании Atom означает согласие с
    Политикой конфиденциальности и условиями обработки персональных данных
    Пользователя.
  </p>
  <p>
    2.2. В случае несогласия с условиями Политики конфиденциальности
    Пользователь должен прекратить использование сайта
    <a href="https://atom-team.ru/">https://atom-team.ru/</a>.
  </p>
  <p>
    2.3. Политика конфиденциальности применяется только к сайту компании Atom.
    Компания Giulia Novars не контролирует и не несет ответственности за сайты
    третьих лиц, на которые Пользователь может перейти по ссылкам на сайте
    <a href="https://atom-team.ru/">https://atom-team.ru/</a>.
  </p>
  <p>
    2.4. Администрация сайта не проверяет достоверность персональных данных,
    предоставляемых Пользователем сайта компании Atom.
  </p>
  <h4>3. ПРЕДМЕТ ПОЛИТИКИ КОНФИДЕНЦИАЛЬНОСТИ</h4>
  <p>
    3.1. Политика конфиденциальности устанавливает обязательства Администрации
    сайта <a href="https://atom-team.ru/">https://atom-team.ru/</a> по
    неразглашению и обеспечению режима защиты конфиденциальности персональных
    данных, которые Пользователь предоставляет по запросу Администрации сайта
    при регистрации на сайте компании Atom или для приобретения услуг компании
    Atom.
  </p>
  <p>
    3.2. Персональные данные, разрешенные к обработке в рамках Политики
    конфиденциальности, предоставляются Пользователем путем заполнения
    регистрационной формы в различных разделах сайта
    <a href="https://atom-team.ru/">https://atom-team.ru/</a> и включают в себя
    следующую информацию:
  </p>
  <p>3.2.1. Фамилию, имя, отчество Пользователя;</p>
  <p>3.2.2. Контактный номер телефона Пользователя;</p>
  <p>3.2.3. Адрес электронной почты (e-mail).</p>
  <p>
    3.3. Компания Atom защищает данные, которые автоматически передаются в
    процессе просмотра рекламных блоков и при посещении страниц, на которых
    установлен статистический скрипт системы пиксель:
  </p>
  <ul>
    <li>IP-адрес;</li>
    <li>информация из Cookies;</li>
    <li>
      информация о браузере (или иной программе, которая осуществляет доступ к
      показу рекламы);
    </li>
    <li>время доступа;</li>
    <li>адрес страницы, на которой расположен рекламный блок;</li>
    <li>реферер (адрес предыдущей страницы).</li>
  </ul>
  <p>
    3.3.1. Отключение Cookies может повлечь невозможность доступа к частям сайта
    <a href="https://atom-team.ru/">https://atom-team.ru/</a> требующим
    авторизации.
  </p>
  <p>
    3.3.2. Сайт
    <a href="https://atom-team.ru/">https://atom-team.ru/</a> осуществляет сбор
    статистики об IP-адресах своих посетителей. Данная информация используется с
    целью выявления и решения технических проблем, для контроля законности
    проводимых финансовых платежей.
  </p>
  <p>
    3.4. Любая иная персональная информация, не оговоренная выше (история
    обращений, используемые браузеры и операционные системы и т.д.), подлежат
    надежному хранению, за исключением случаев, предусмотренных в п.п. 5.2. и
    5.3. Политики конфиденциальности.
  </p>
  <h4>4. ЦЕЛИ СБОРА ПЕРСОНАЛЬНЫХ ДАННЫХ ПОЛЬЗОВАТЕЛЯ</h4>
  <p>
    4.1. Персональные данные Пользователя Администрация сайта
    <a href="https://atom-team.ru/">https://atom-team.ru/</a> может использовать
    в целях:
  </p>
  <p>
    4.1.1. Идентификации Пользователя, зарегистрированного на сайте
    <a href="https://atom-team.ru/">https://atom-team.ru/</a> для оказания услуг
    ИП.
  </p>
  <p>
    4.1.2. Предоставления Пользователю доступа к персонализированным ресурсам
    сайта компании Atom.
  </p>
  <p>
    4.1.3. Установления с Пользователем обратной связи, включая направление
    уведомлений, запросов, касающихся сайта компании Atom, оказания услуг для
    Пользователя.
  </p>
  <p>
    4.1.4. Определения места нахождения Пользователя для обеспечения
    безопасности, предотвращения мошенничества.
  </p>
  <p>
    4.1.5. Подтверждения достоверности и полноты персональных данных,
    предоставленных Пользователем.
  </p>
  <p>4.1.6. Осуществления рекламной деятельности с согласия Пользователя.</p>
  <h4>5. СПОСОБЫ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ</h4>
  <p>
    5.1. Обработка персональных данных Пользователя осуществляется без
    ограничения срока, любым законным способом, в том числе в информационных
    системах персональных данных с использованием средств автоматизации или без
    использования таких средств.
  </p>
  <p>
    5.2. Пользователь соглашается с тем, что Администрация сайта вправе
    передавать персональные данные третьим лицам исключительно в целях оказания
    услуг Пользователю, оформленных на сайте
    <a href="https://atom-team.ru/">https://atom-team.ru/</a>.
  </p>
  <p>
    5.3. Персональные данные Пользователя могут быть переданы уполномоченным
    органам государственной власти Российской Федерации только по основаниям и в
    порядке, установленном законодательством Российской Федерации.
  </p>
  <p>
    5.4. При утрате или разглашении персональных данных, Администрация сайта
    информирует Пользователя об утрате или разглашении персональных данных.
  </p>
  <p>
    5.5. Администрация сайта принимает необходимые организационные и технические
    меры для защиты персональных данных Пользователя от неправомерного или
    случайного доступа, уничтожения, изменения, блокирования, копирования,
    распространения, а также от иных неправомерных действий третьих лиц.
  </p>
  <p>
    5.6. Администрация сайта совместно с Пользователем принимает все необходимые
    меры по предотвращению убытков или иных отрицательных последствий, вызванных
    утратой или разглашением персональных данных Пользователя.
  </p>
  <h4>6. ОБЯЗАТЕЛЬСТВА СТОРОН</h4>
  <p>6.1. Пользователь обязан:</p>
  <p>
    6.1.1. Предоставить информацию о персональных данных, необходимую для
    пользования сайтом компании Atom.
  </p>
  <p>6.2. Администрация сайта обязана:</p>
  <p>
    6.2.1. Использовать полученную информацию исключительно для целей, указанных
    в п. 4. Политики конфиденциальности.
  </p>
  <p>
    6.2.2. Обеспечить хранение персональных данных Пользователя втайне, не
    разглашать без предварительного письменного разрешения Пользователя, а также
    не осуществлять продажу, обмен, опубликование либо разглашение иными
    возможными способами переданных персональных данных Пользователя, за
    исключением п.п. 5.2. и 5.3. Политики конфиденциальности.
  </p>
  <p>
    6.2.3. Принимать меры предосторожности для защиты конфиденциальности
    персональных данных Пользователя согласно порядку, обычно используемому для
    защиты такого рода информации в существующем деловом обороте.
  </p>
  <p>
    6.2.4. Осуществить блокирование персональных данных, относящихся к
    соответствующему Пользователю, с момента обращения или запроса Пользователя
    или его законного представителя либо уполномоченного органа по защите прав
    субъекта персональных данных на период проверки, в случае выявления
    недостоверных персональных данных или неправомерных действий.
  </p>
  <h4>7. ОТВЕТСТВЕННОСТЬ СТОРОН</h4>
  <p>
    7.1. Администрация сайта, не исполнившая свои обязательства, несет
    ответственность за убытки, понесенные Пользователем в связи с неправомерным
    использованием персональных данных, в соответствии с законодательством
    Российской Федерации, за исключением случаев, предусмотренных п.п. 5.2.,
    5.3. и 7.2. Политики конфиденциальности.
  </p>
  <p>
    7.2. В случае утраты или разглашения персональных данных Пользователя,
    Администрация сайта не несет ответственности, если персональные данные:
  </p>
  <p>7.2.1. Стали публичным достоянием до их утраты или разглашения.</p>
  <p>
    7.2.2. Были получены от третьей стороны до момента их получения
    Администрацией сайта.
  </p>
  <p>7.2.3. Были разглашены с согласия Пользователя.</p>
  <h4>8. РАЗРЕШЕНИЕ СПОРОВ</h4>
  <p>
    8.1. До обращения в суд с иском по спорам, возникающим из отношений между
    Пользователем сайта
    <a href="https://atom-team.ru/">https://atom-team.ru/</a> и Администрацией
    сайта, обязательным является предъявление претензии (письменного предложения
    о добровольном урегулировании спора).
  </p>
  <p>
    8.2. Получатель претензии в течение 30 (тридцати) календарных дней со дня
    получения претензии письменно уведомляет заявителя претензии о результатах
    рассмотрения претензии.
  </p>
  <p>
    8.3. При недостижении соглашения спор будет передан на рассмотрение в
    судебный орган в соответствии с действующим законодательством Российской
    Федерации.
  </p>
  <p>
    8.4. К Политике конфиденциальности и отношениям между Пользователем и
    Администрацией сайта применяется действующее законодательство Российской
    Федерации.
  </p>
  <h4>9. ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ</h4>
  <p>
    9.1. Администрация сайта вправе вносить изменения в Политику
    конфиденциальности без согласия Пользователя.
  </p>
  <p>
    9.2. Новая Политика конфиденциальности вступает в силу с момента ее
    размещения на сайте
    <a href="https://atom-team.ru/">https://atom-team.ru/</a>, если иное не
    предусмотрено новой редакцией Политики конфиденциальности.
  </p>
  <p>
    9.3. Все предложения или вопросы по Политике конфиденциальности следует
    сообщать электронным письмом по адресу
    <a href="mailto:hello@atom-team.ru">hello@atom-team.ru</a>.
  </p>
  <p>
    9.4. Действующая политика конфиденциальности размещена на странице по
    адресу: <a href="https://atom-team.ru/">https://atom-team.ru/</a>.
  </p>
  <p>Размещено: 18 января 2022 года.</p>
</div>
