<section class="projects container">
  <h2 class="projects__title font-title">проекты</h2>
  <nav class="menu menu_projects">
    <ul>
      <li><a class="active" href="#">Все проекты</a></li>
      <li><a href="#">Диджитал контент</a></li>
      <li><a href="#">Реклама и клипы</a></li>
      <li><a href="#">Моушн</a></li>
    </ul>
  </nav>
  <div class="projects__list">
    <div data class="project flex">
      <a
        class="project__wrapper"
        href="https://www.youtube.com/watch?v=qLDXq3IQlsQ"
        data-fancybox="video-gallery"
      >
        <img
          class="project__img"
          src="images/projects/projects-img1.png"
          alt=""
        />
        <img class="project__play" src="images/projects/play.svg" alt="" />
      </a>
      <div class="project__title">arte orafa</div>
      <div class="project__property flex">
        <div class="project__property-name">Клиент</div>
        <div class="project__property-value">Beats by Dre</div>
      </div>
      <div class="project__property flex">
        <div class="project__property-name">Вид работы</div>
        <div class="project__property-value">Branded content</div>
      </div>
    </div>
    <div class="project flex">
      <a
        class="project__wrapper"
        href="https://www.youtube.com/watch?v=qLDXq3IQlsQ"
        data-fancybox="video-gallery"
      >
        <img
          class="project__img"
          src="images/projects/projects-img2.png"
          alt=""
        />
        <img class="project__play" src="images/projects/play.svg" alt="" />
      </a>
      <div class="project__title">devil ezooze</div>
      <div class="project__property flex">
        <div class="project__property-name">Клиент</div>
        <div class="project__property-value">Ozon</div>
      </div>
      <div class="project__property flex">
        <div class="project__property-name">Вид работы</div>
        <div class="project__property-value">Branded content</div>
      </div>
    </div>
    <div class="project flex">
      <a
        class="project__wrapper"
        href="https://www.youtube.com/watch?v=qLDXq3IQlsQ"
        data-fancybox="video-gallery"
      >
        <img
          class="project__img"
          src="images/projects/projects-img3.png"
          alt=""
        />
        <img class="project__play" src="images/projects/play.svg" alt="" />
      </a>
      <div class="project__title">nestyodina</div>
      <div class="project__property flex">
        <div class="project__property-name">Клиент</div>
        <div class="project__property-value">Тинькофф</div>
      </div>
      <div class="project__property flex">
        <div class="project__property-name">Вид работы</div>
        <div class="project__property-value">Branded content</div>
      </div>
    </div>
    <div class="project flex">
      <a
        class="project__wrapper"
        href="https://www.youtube.com/watch?v=qLDXq3IQlsQ"
        data-fancybox="video-gallery"
      >
        <img
          class="project__img"
          src="images/projects/projects-img2.png"
          alt=""
        />
        <img class="project__play" src="images/projects/play.svg" alt="" />
      </a>
      <div class="project__title">devil ezooze</div>
      <div class="project__property flex">
        <div class="project__property-name">Клиент</div>
        <div class="project__property-value">Ozon</div>
      </div>
      <div class="project__property flex">
        <div class="project__property-name">Вид работы</div>
        <div class="project__property-value">Branded content</div>
      </div>
    </div>
    <div class="project flex">
      <a
        class="project__wrapper"
        href="https://www.youtube.com/watch?v=qLDXq3IQlsQ"
        data-fancybox="video-gallery"
      >
        <img
          class="project__img"
          src="images/projects/projects-img2.png"
          alt=""
        />
        <img class="project__play" src="images/projects/play.svg" alt="" />
      </a>
      <div class="project__title">devil ezooze</div>
      <div class="project__property flex">
        <div class="project__property-name">Клиент</div>
        <div class="project__property-value">Ozon</div>
      </div>
      <div class="project__property flex">
        <div class="project__property-name">Вид работы</div>
        <div class="project__property-value">Branded content</div>
      </div>
    </div>
    <div class="project flex">
      <a
        class="project__wrapper"
        href="https://www.youtube.com/watch?v=qLDXq3IQlsQ"
        data-fancybox="video-gallery"
      >
        <img
          class="project__img"
          src="images/projects/projects-img3.png"
          alt=""
        />
        <img class="project__play" src="images/projects/play.svg" alt="" />
      </a>
      <div class="project__title">nestyodina</div>
      <div class="project__property flex">
        <div class="project__property-name">Клиент</div>
        <div class="project__property-value">Тинькофф</div>
      </div>
      <div class="project__property flex">
        <div class="project__property-name">Вид работы</div>
        <div class="project__property-value">Branded content</div>
      </div>
    </div>
    <div class="project flex">
      <a
        class="project__wrapper"
        href="https://www.youtube.com/watch?v=qLDXq3IQlsQ"
        data-fancybox="video-gallery"
      >
        <img
          class="project__img"
          src="images/projects/projects-img2.png"
          alt=""
        />
        <img class="project__play" src="images/projects/play.svg" alt="" />
      </a>
      <div class="project__title">devil ezooze</div>
      <div class="project__property flex">
        <div class="project__property-name">Клиент</div>
        <div class="project__property-value">Ozon</div>
      </div>
      <div class="project__property flex">
        <div class="project__property-name">Вид работы</div>
        <div class="project__property-value">Branded content</div>
      </div>
    </div>
    <div class="project flex">
      <a
        class="project__wrapper"
        href="https://www.youtube.com/watch?v=qLDXq3IQlsQ"
        data-fancybox="video-gallery"
      >
        <img
          class="project__img"
          src="images/projects/projects-img1.png"
          alt=""
        />
        <img class="project__play" src="images/projects/play.svg" alt="" />
      </a>
      <div class="project__title">arte orafa</div>
      <div class="project__property flex">
        <div class="project__property-name">Клиент</div>
        <div class="project__property-value">Beats by Dre</div>
      </div>
      <div class="project__property flex">
        <div class="project__property-name">Вид работы</div>
        <div class="project__property-value">Branded content</div>
      </div>
    </div>
  </div>
  <button class="projects__load-more">
    <div class="projects__load-more-title">Загрузить еще</div>
  </button>
</section>
