<section class="promo container">
  <div class="promo__background">
    <img class="shape-mid" src="images/promo-img/shape-mid.png" alt="" />
    <img class="shape-small" src="images/promo-img/shape-small.png" alt="" />
    <img class="shape-big" src="images/promo-img/shape-big.png" alt="" />
    <a class="promo__btn-video" href="#">
      <div class="promo__btn-video-wrapper">
        <img
          class="promo__btn-video-cover"
          src="images/promo-img/cover-video.png"
          alt=""
        />
        <img
          class="promo__btn-video-icon"
          src="images/promo-img/btn-play.svg"
          alt=""
        />
      </div>
    </a>
  </div>
  <div class="promo__content">
    <h1 class="promo__title TT-Druk-Wide-500">КРЕАТИВ</h1>
    <div class="promo__description">
      воплощаем бизнес-задачи в креативный контент
    </div>
  </div>
</section>
