@font-face {
    font-family: 'Druk Wide Cyr';
    src: url('DrukWideCyr-Bold.woff2') format('woff2'),
        url('DrukWideCyr-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Druk Wide Cyr';
    src: url('DrukWideCyr-Medium.woff2') format('woff2'),
        url('DrukWideCyr-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

