@font-face {
    font-family: 'TT Norms';
    src: local('TT Norms Medium'), local('TT-Norms-Medium'),
        url('TTNorms-Medium.woff2') format('woff2'),
        url('TTNorms-Medium.woff') format('woff'),
        url('TTNorms-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }