@font-face {
    font-family: 'Druk Wide';
    src: url('DrukWide-Bold.woff2') format('woff2'),
        url('DrukWide-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Druk Wide';
    src: url('DrukWide-Medium.woff2') format('woff2'),
        url('DrukWide-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

