@font-face {
    font-family: 'Druk Text';
    src: url('DrukText-Medium.woff2') format('woff2'),
        url('DrukText-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

